@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen font-sans;
}

a {
  @apply text-primary hover:text-primary-light transition;
}

pre {
  @apply bg-slate-900 text-slate-100 rounded-lg p-4 overflow-auto;
}

code {
  @apply font-mono;
}
